<article id={{bookmark.id}}>
	<a href={{bookmark.link}} target="_blank">
		{{!pass helper name then data}}
		{{bookmark-title bookmark.title bookmark.about}}
	</a>
  {{moment-from-now bookmark.created}}
</article>
{{yield}}
