<h3>Users</h3>
<p>{{testProperty}}</p>
{{#each model as |user index|}} 
	{{#users-list user.avatar user.email}}
		{{user.fullName}}
	{{/users-list}}
{{/each}}
{{outlet}}

{{!--
 for each user, show the bookmarks, if no bookmarks, show "No Bookmarks for User"

	<p>#{{index}} - {{user.fullName}}</p>
	{{#each user.bookmarks as |bookmark|}}
	{{else}}
		<p>No Bookmarks for User</p>
	{{/each}}

--}}