{{!--
<h2>List of Scientists</h2>

<ul>
	{{#each model as |scientist|}} {{!each is a hbs helper}}
		<li>{{scientist}}</li>
		{{/each}}
</ul>
--}}

{{!static verion above replaced with people-list component}}
{{people-list title="List of Scientists" people=model}}
{{! model knows to use /routes/scientists info since this template connected when the route was created `ember generate route scientists`}}