<h2>About</h2>
{{#each model as |bookmark|}}
	{{#link-to 'bookmarks.edit' bookmark}}Edit Bookmark{{/link-to}}
	{{#if bookmark.public}}
		{{bookmark-listing bookmark=bookmark}}
	{{else}}
		<article>Not a public bookmark</article>
	{{/if}}
{{/each}}